@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .border-outset {
      border-style: outset;
    }

    .cell-overlay {
        clip-path: polygon(100% 35%, 100% 65%, 65% 65%, 65% 100%, 35% 100%, 35% 35%, 65% 35%);
    }
  }

.board {
    @apply border-2 border-gray-500 mx-auto w-fit flex flex-col col-span-3 items-center;
}

.row {
    @apply flex w-fit;
}

.row-clear {
    @apply animate-ping;
}

.held-used {
    @apply filter grayscale-[80%];
}

.cell {
    @apply bg-gray-300 w-6 aspect-square border-gray-200 border text-xs overflow-hidden;
}

.piece, .current-piece {
    @apply border-4 border-outset relative z-10;
}

.piece::before, .current-piece::before {
    content: "";
    @apply absolute top-0 left-0 w-full h-full bg-black/60 cell-overlay z-20 blur-md;
}

.ghost-piece {
    @apply border-4 border-red-400;
}

.i_shape-color {
    @apply bg-blue-300 border-blue-300;
}

.j_shape-color {
    @apply bg-blue-600 border-blue-600;
}

.l_shape-color {
    @apply bg-orange-400 border-orange-400;
}

.o_shape-color {
    @apply bg-yellow-300 border-yellow-300;
}

.s_shape-color {
    @apply bg-green-400 border-green-400;
}

.t_shape-color {
    @apply bg-purple-600 border-purple-600;
}

.z_shape-color {
    @apply bg-red-500 border-red-500;
}