@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    /* Rotation amount by axis */
    --X: 0deg;
    --Y: 0deg;
    --Z: 0deg;

    --X-mid: 0deg;
    --Y-mid: 0deg;
    --Z-mid: 0deg;
    
    /* Sprite size, 1 = normal size */
    --Scale: 1;

    /* Animation lenght */
    --Duration: 0ms;
}

/* @property --Y {
    syntax: "<angle>";
    inherits: false;
    initial-value: 90deg;
} */

@layer utilities {
    .border-outset {
      border-style: outset;
    }

    .cell-overlay {
        clip-path: polygon(100% 35%, 100% 65%, 65% 65%, 65% 100%, 35% 100%, 35% 35%, 65% 35%);
    }
}

#tetris-clear-message {
  background: repeating-linear-gradient(90deg in hsl longer hue, red 0 50%) 0/200%;
  animation: r 1.5s linear infinite, tetris-clear-animation 1.25s ease-in-out;
  background-clip: text;
}


@keyframes r {
  to {background-position: 100%}
}

@keyframes tetris-clear-animation {
  0% { transform: scale(1) }
  50% { transform: scale(1.4) }
  100% { transform: scale(1) }
}

.animate-arrow {
  animation: arrow-ascend 2.5s forwards;
}

@keyframes arrow-ascend {
  0% {
    clip-path: inset(0% 0% 0% 0%);
    transform: translateY(0);
  }

  21.875% {
    clip-path: inset(0% 0% 0% 0%);
    transform: translateY(0);
  }

  31.25% {
    clip-path: inset(0% 0% 80% 0%);
    transform: translateY(-25%);
  }

  40.624% {
    clip-path: inset(0% 0% 100% 0%);
    transform: translateY(-25%);
  }

  40.625% {
    clip-path: inset(0% 0% 100% 0%);
    transform: translateY(-25%);
  }

  100% {
    clip-path: inset(0% 0% 100% 0%);
    transform: translateY(-25%);
  }

}

.animate-level-text {
  animation: animate-level-up 2.5s forwards;
}

@keyframes animate-level-up {
  0% {
    opacity: 0;
    transform: translateY(0)
  }

  12.4% {
    opacity: 0;
    transform: translateY(0)
  }

  12.5% {
    opacity: 1;
    transform: translateY(0)
  }

  15.625% {
    transform: translateY(0)
  }

  25% {
    
    transform: translateY(-50%)
  }

  56.25% {
    transform: translateY(-50%)
  }
  
  56.26% {
    color: white;
    transform: translateY(-50%)
  }

  84.375% {
    color: yellow;
    transform: translateY(-50%);
    clip-path: inset(0% 0% 0% 0%);
  }

  100%{
    transform: translateY(-50%);
    clip-path: inset(0% 0% 100% 0%);
  }
}

.row {
  @apply flex w-fit;
}

.row-clear {
  @apply animate-ping;
}

.held-used {
  @apply filter grayscale-[80%];
}

.cell {
  @apply bg-gray-300 h-5 aspect-square border-gray-200 border text-xs overflow-hidden;
}

.piece, .current-piece {
  @apply border-4 border-outset relative z-10;
}

.piece::before, .current-piece::before {
  content: "";
  @apply absolute top-0 left-0 w-full h-full bg-black/60 cell-overlay z-20 blur-md;
}

.game-video {
  @apply -my-8 transition duration-500;
}

.hide-video {
  @apply opacity-0;
}

.ghost-piece {
  @apply border-4 border-red-400;
}

.i_shape-color {
  @apply bg-blue-300 border-blue-300;
}

.j_shape-color {
  @apply bg-blue-600 border-blue-600;
}

.l_shape-color {
  @apply bg-orange-400 border-orange-400;
}

.o_shape-color {
  @apply bg-yellow-300 border-yellow-300;
}

.s_shape-color {
  @apply bg-green-400 border-green-400;
}

.t_shape-color {
  @apply bg-purple-600 border-purple-600;
}

.z_shape-color {
  @apply bg-red-500 border-red-500;
}

/* Animations */

@keyframes idle {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  20% {
    transform: rotateX(0deg) rotateY(360deg);
  }

  25% {
    transform: rotateX(0deg) rotateY(360deg);
  }

  45% {
    transform: rotateX(360deg) rotateY(360deg);
  }

  50% {
    transform: rotateX(360deg) rotateY(360deg);
  }

  70% {
    transform: rotateX(360deg) rotateY(0deg);
  }

  75% {
    transform: rotateX(360deg) rotateY(0deg);
  }

  95% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(0deg) rotateY(0deg);
  }
}

/* @keyframes top-right-x {
  0% {
    transform: rotateX(0deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(360deg) rotateZ(360deg);
  }
} */

/* @keyframes top-right-y {
  0% {
    transform: rotateY(0deg) rotateZ(0deg);
  }

  100% {
    transform: rotateY(360deg) rotateZ(360deg);
  }
} */

@keyframes top-right {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1);
  }

  100% {
    transform: rotateX(var(--X)) rotateY(var(--Y)) rotateZ(var(--Z)) scale(var(--Scale));
  }
}

/* @keyframes top-left-x {
  0% {
    transform: rotateX(0deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(360deg) rotateZ(-360deg);
  }
} */

/* @keyframes top-left-y {
  0% {
    transform: rotateY(0deg) rotateZ(0deg);
  }

  100% {
    transform: rotateY(360deg) rotateZ(-360deg);
  }
} */

@keyframes top-left {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1);
  }

  100% {
    transform: rotateX(var(--X)) rotateY(var(--Y)) rotateZ(var(--Z)) scale(var(--Scale));
  }
}

/* @keyframes top-spin-x {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(360deg);
  }
} */

/* @keyframes top-spin-y {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
} */

@keyframes container-spin {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1);
  }

  50% {
    transform: rotateX(var(--X-mid)) rotateY(var(--Y-mid)) rotateZ(var(--Z-mid)) scale(var(--Scale));
  }

  100% {
    transform: rotateX(var(--X)) rotateY(var(--Y)) rotateZ(var(--Z)) scale(1);
  }
}

.animate-idle {
  animation: idle 25s linear infinite;
}

.animate-container {
  animation: container-spin linear;
  animation-duration: var(--Duration);
}